.filterMenuContainer{
    padding-left: 10px;
}

.filterBoxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.filterHeader{
    font-size: large;
    font-weight: bold;
    color: rgb(80, 79, 79);
}

.checks {
    display: flex;
    flex-direction: column;
}

.checkAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}


.checkAndName input[type="checkbox"] {
    margin-right: 18px;
    transform: scale(1.5);
}